.navbar {
    display: flex;
    justify-content: space-around;
    color: #f9faf8;
    font-size: 24px;
}

#links {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    font-size: 18px;
}

li {
    padding: 0px 20px;
}

body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Roboto', arial;
}

.section-header {
    background-color: #1F2937;
    font-size: 24px;
}

.header-content {
    display: flex;
    color: #F9FAF8;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
button {
    color: #fff;
    font-family: 'Roboto', arial;
    border-color: #fff;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 5px 25px;
    font-size: 15px;
    
}

h3 {
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

#header-img {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.header-content, img {
    display: flex;
    justify-content: center;
    overflow: hidden;
    
}

.random-info {
    display: flex;
    flex-direction: column;
}

.random-info-images {
    display: flex;
    justify-content: center;
}

.random-info-images img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid black;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.hero-image {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.random-info-images img {
    min-height: 0;
    min-width: 0;
    overflow: hidden;
}

.random-quote {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e5e7eb;
}

.random-quote p {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    font-family: 'Roboto', arial;
}

.random-quote b {
    padding-bottom: 20px;
    padding-right: 10px;
    font-family: 'Roboto', arial;
    text-align: right;
}

.newsletter-section {
    background-color: #3882F6;
    margin: 50px 200px;
    padding: 10px 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border-color: none;
}
 
.newsletter-section-text h3 p{
    text-align: left;
    color: #fff;
    font-family: 'Roboto', arial;
    padding: 0;
    margin: 30px 0px 0px 50px;
}
.footer {
    background-color: #1F2937;
    color: #fff;
    font-family: 'Roboto', arial;
}